@import url('https://fonts.googleapis.com/css?family=Cinzel|Noticia+Text|Pacifico&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Cinzel', serif;
font-family: 'Noticia Text', serif; */

body{
    background: lightcyan;
}

h1{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

p{
    font-family: 'Cinzel', serif;
    font-style: italic;
}

.input{
    box-shadow: 1px grey;
    display: block;
    margin: 20px 0;

}

.label{
    font-size: 15px;
    font-family: 'Cinzel', serif;
    display: block;

}

.btn{
    font-family: 'Cinzel', serif;
    font-size: 35px;
    display: block;
    margin: 20px 0;
    padding: 30px;
}